@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  scrollbar-color: dark;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
:root {
  --pink: hotpink;
  --bg: black;
  --color: #fff;
  --lightbg: rgba(239, 149, 129, 0.498);
  --margine: 20px;
  --box-shadow: 0px 2px 12px;
}
body {
  min-height: 100vh;
  color: var(--color);
  background: var(--bg);
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
    
}
.header {
  cursor: pointer;
}
iframe::-webkit-scrollbar {
  display: none;
}

.hidden {
    display: none;
}
.tomato {
  color: var(--pink);
}

.flex {
  display: flex;
}
ion-icon:hover {
  color: var(--pink);
  scale: 1.05;
  transition: all 0.1s linear;
  cursor: pointer;
}



nav {
  background: var(--bg);
  padding: var(--margine);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  border-bottom: 2px solid;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 70px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 4rem;
}
nav ul li {
  text-align: center;
  background: var(--color);
  font-size: larger;
  font-size: 25px;
  color: var(--bg);
  border-radius: 10%;
  display: inline-block;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease-in;
  padding-top: 4px;
  box-shadow: var(--box-shadow);
}
nav ul li:hover {
  scale: 1.07;
  opacity: 2;
}

/* Main Container */

main {
  /* border: 2px solid; */
  /* height: 100lvh; */
  display: flex;
  flex-direction: row-reverse;
  /* overflow: auto; */
}

.toolbar {
    display: block;
}

.icon-inner:hover {
  color: #fff;
}

.like *:hover{
  color: var(--pink);
}
.dislike *:hover {
  color: red;
}

main .posts {
  /* border: 2px solid tomato; */
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  scrollbar-color: red;
}

.newpost {
  border: 2px solid skyblue;
  padding: var(--margine);
  height: 170px;
  border-radius: var(--margine);
  margin: var(--margine);
}
.toolbar ul {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  font-size: 25px;
  list-style: none;
  border-top: 2px solid;
  padding-top: 4px;
}
.newpost textarea {
  padding: var(--margine);
  background-color: transparent;
  border: 0;
  height: 100%;
  outline: none;
  width: 100%;
  resize: vertical;
  border-radius: var(--margine);
  height: 100px;
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  font-size: larger;
  color: var(--color);
}
.newposts {
  /* border: 2px solid blue; */
  /* overflow-y: scroll; */
  height: 100%;

  /* display: none; */
}

.menubar {
  border: 2px solid;
  margin: var(--margine);
  border-radius: calc(20px + var(--margine));
}
.menubar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
}

.menubar li {
  background: var(--color);
  color: var(--pink);
  padding: 8px;
  border-radius: var(--margine);
  width: 100px;
  text-align: center;
  backdrop-filter: blur(25px);
  /* opacity: .5; */
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: var(--box-shadow);
}
.menubar li:hover {
  color: var(--color);
  background: var(--pink);
  opacity: 1;
}
.post {
  border: 2px solid;
  min-height: 200px;
  padding: 15px;
  margin: var(--margine);
  box-shadow: var(--box-shadow);
  border-radius: var(--margine);
}
.post .author {
  display: flex;
  gap: var(--margine);
  align-items: flex-start;
  font-size: small;
  opacity: 0.9;
}
.post .author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid hotpink;
}

.post-footer {
  display: flex;
  gap: var(--margine);
  justify-content: space-around;
  margin-top: var(--margine);
  font-size: 25px;
  border-top: 2px solid;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 40px;
  /* color: ; */
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.post-footer *:hover {
  color: var(--pink);
  scale: 1.05;
  transition: all 0.1s linear;
}
.post-content {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
}
.post-content img {
  max-width: 100%;
  height: 200px;
  width: max-content;
  border: 2px solid;
  margin: 4px;
}
main .sidebar {
  width: 100%;
  padding: var(--margine);
  transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.playground {
  /* box-sizing: content-box; */
    position: sticky;  
    top: 70px;
    padding: var(--margine);
    /* background: var(--bg); */
  }
.playground iframe {
    width: 100%;
    height: 90vh;
    scrollbar-color: red blue;
}

iframe::-webkit-scrollbar {
  background-color: red blue;
}
.playground {
  /* background-color: red; */
  height: 70vh;
  width: 100%;
  padding: 10px;
  /* text-wrap: nowrap; */
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  white-space: nowrap;
  display: flex; /* Added */
  gap: var(--margine);
}
.playground .layout {
  flex: 1 0 auto; /* Added */
  display: inline-block;
  background-color: var(--bg);
  width: 100%;
  padding: var(--margine);
  border-radius: var(--margine);
  /* margin: 4px; */
  height: 100%;
  /* border: 2px solid red; */
  scroll-snap-align: center;
  scroll-snap-stop: always;
  box-shadow: var(--box-shadow);
}
.playground .layout:nth-child(2) {
  /* background-color: yellowgreen; */
}
.playground .layout:nth-child(3) {
  /* background-color: blue; */
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* Style for the active section */
.active {
  /* border: 2px solid black; */
}




 
.container {
  background: linear-gradient(to bottom, #0078d4, #0056b3);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  padding: 30px;
}

.poll-question {
  font-size: 24px;
  margin-bottom: 20px;
}

.poll-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
}

.vote-button {
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.vote-button:hover {
  background-color: #0078d4;
}

.results {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.results-title {
  font-size: 20px;
}

.results-count {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 10px;
}

.count {
  font-weight: bold;
}

.commentviewer {
  position: static;
  height: 400px;
  width: 100%;
  bottom: 0px;
  border-radius: 20px;
  border: 2px solid hotpink;
  display: none;
  margin: auto;
  /* opacity: 0.8; */
  transition: all .2s linear;
  animation: show 1s ;
  top: 70px;
  padding: var(--margine);
  box-shadow: var(--box-shadow);
  background: linear-gradient(black,pink,white);
  z-index: 2;
  margin-top: var(--margine);

}
.commentviewer .comment {
  /* display: flex; */
  gap: 20px;
  align-items: center;
  border-bottom: .2px solid;
}
.commentviewer .comment  .author {
  display: inline-flex;
  align-items: center;
  height: 30px;
  gap: 20px;
  /* border: 2px solid; */
  margin-right: 10px;
  color: #71aceb;
}

.comment .author img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
@keyframes show {
  from {
    scale: 1.01;
    opacity: .6;
    /* display: none; */
  }
  100% {
    opacity: 1;
    scale: 1;
    /* display: inline; */
  }
  
}





/* Fotter Element */

footer {
  /* display: flex; */
  border-top: 2px solid;
  padding: 10px;
  text-align: center;
}
footer span {
  color: tomato;
}

/* Media Queries */

@media (max-width: 900px) {
  nav ul {
    gap: var(--margine);
  }
  main {
    flex-direction: column;
  }

  .posts {
    overflow: visible;
    height: 100%;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.ssb1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.ssb1::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.ssb1::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}

.visible {
  display: block;
  /* z-index: 2; */
}








/* Base CSS */

input, button {
  background : transparent;
  padding: 15px;
  font-size: 16px;
  color: white;
  outline: none;
  box-sizing: border-box;
  margin: 5px;
  border-bottom: solid 3px hotpink;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
}

a {
    text-decoration: none;
    color: aqua;
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

.line {
  height: 2px;
  background-color: red;
  margin: var(--margine) auto;

}